<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>avr</display-name>
    <servlet-name>avr</servlet-name>
    <servlet-class>addition.avr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>avr</servlet-name>
    <url-pattern>/avr</url-pattern>
  </servlet-mapping>
  <display-name>Calculator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>kon</display-name>
    <servlet-name>kon</servlet-name>
    <servlet-class>subtraction.kon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kon</servlet-name>
    <url-pattern>/kon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hii</display-name>
    <servlet-name>hii</servlet-name>
    <servlet-class>multiplication.hii</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hii</servlet-name>
    <url-pattern>/hii</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hey</display-name>
    <servlet-name>hey</servlet-name>
    <servlet-class>division.hey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hey</servlet-name>
    <url-pattern>/hey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>so</display-name>
    <servlet-name>so</servlet-name>
    <servlet-class>calculator.so</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>so</servlet-name>
    <url-pattern>/so</url-pattern>
  </servlet-mapping>
</web-app>